@media(min-width: 1199px) {
    .info-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .info {
        &__blockquote {
            display: block;
            align-self: center;
            margin-right: 0;
            margin-left: 0;
            width: 40%;
            order: 2;
        }
        &__img-block {
            width: 55%;
        }
        &__pathos {
            padding-left: 175px;
            padding-right: 200px;
        }
    }
    .details-wrapper {
        min-width: 1100px;
        flex-wrap: nowrap;
    }
    .details {
        width: 25%;
        min-width: 275px;
        &:nth-last-child(-n+2) {
            margin-bottom: 110px;
        }
        margin-bottom: 110px;
        border-right: 1px dashed #e3e3e4;
        &:first-child {
            border-bottom: none;
        }
        &:last-child {
            border: none;
        }
        &:hover {
            box-shadow: 3px 5.196px 18px 0px rgba(0, 0, 0, 0.1);
            transform: scale(1.03);
        }
    }
    .how-we-do {
        width: 100%;
        background-color: #fafafa;
        margin-bottom: 115px;
        &__list {
            justify-content: flex-start;
        }
        &__discription {
            width: 20%;
            margin-right: 6.6%;
            margin-bottom: 68px;
            &:nth-child(4) {
                margin-right: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .how-we-do-wrapper {
        width: 80%;
        margin: 0 auto;
        padding-top: 115px;
    }
    .structure {
        &__ul {
            flex-wrap: wrap;
        }
        &__list {
            width: 25%;
        }
    }
}