$main-font-article: 'Ubuntu',
sans-serif;
$main-font-color: #444444;
<<<<<<< HEAD
$h1-font: 'Open Sans', sans-serif;
$h1-font-color: #ffffff;
=======
$h1-font: 'Open Sans',
sans-serif;
$h1-font: #ffffff;
>>>>>>> 60d75f052ccccfa0975ec221eb4fd674655d0877
