.nav-bar {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 34px;
    &__background {
        height: 100vh;
        background-image: url(../../images/img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(../../images/img@2x.jpg);
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75vh;
        margin-bottom: 60px;
    }
    &__menu {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__burger {
        background: url(../../images/burger.png);
        width: 28px;
        height: 19px;
        background-repeat: no-repeat;
        background-position: center;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(../../images/burger@2x.png);
        }
    }
    &__right-button {
        display: block;
        border-style: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: cover;
    }
    &__arrows {
        width: 20px;
        height: 21px;
        background-color: transparent;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--image {
            background-image: url(../../images/Scroll-down.png);
            background-size: cover;
            background-position: center;
            width: 13px;
            height: 9px;
            background-repeat: no-repeat;
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background-image: url(../../images/Scroll-down@2x.png);
            }
        }
    }
}

.nav__menu {
    display: none;
    width: 80%;
    align-items: center;
    &--list {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }
    &--i {
        font-family: $main-font-article;
        font-weight: bold;
        color: $h1-font-color;
        border-bottom: 2px solid transparent;
        padding-bottom: 10px;
        margin-right: 20px;
        &:hover {
            border-bottom: 2px solid #fcae26;
        }
    }
    &--link {
        font-size: 18px;
        color: $h1-font-color;
    }
}