.nav-bar {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 34px;
    &__background {
        display: block;
        height: 100vh;
        background-image: url(../../images/img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background: url(images/img@2x.jpg) no-repeat center;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 410px;
        margin-bottom: 60px;
    }
    &__menu {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__burger {
        background: url(../../images/burger.png);
        width: 28px;
        height: 19px;
    }
    &__right-button {
        display: block;
        border-style: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: cover;
    }
    &__arrows {
        width: 20px;
        height: 21px;
        background-color: transparent;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--image {
            background-image: url(../../images/Scroll-down.png);
            background-size: cover;
            background-position: center;
            width: 13px;
            height: 9px;
        }
    }
}