.button-to-top {
    position: sticky;
    left: 80%;
    bottom: 45px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: aqua;
    cursor: pointer;
    text-align: center;
}